body {
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: white;
    color: black;

    .dark-mode {
        background-color: black;
        color: white;
      }
}
main, footer {
    max-width: 80ch;

    margin-inline: auto;
}
footer {
    margin-top: 5rem;
}
.footer2 {
    margin-inline: auto;
    
    max-width: 80ch;
}





.title {
    text-align: center;
}

